.label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  span {
    font-weight: 700;
    color: #021a27;
  }
}

.input {
  height: 1.5rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

